*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow-x: hidden; 
}

.containerMain{
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  min-height: 100vh;
  background-color:#F3F5FC;
}
